extends base

include mixins

block main
  h2 Volodymyr Prokopyuk
  img(src="img/volodymyrs.jpg" alt="Volodymyr Prokopyuk")
  p: a(href="mailto:volodymyrprokopyuk@gmail.com") volodymyrprokopyuk@gmail.com
  p +(34) 663 564 178

  p.
    I'm a software architect with demonstrated experience in software
    architecture design and software quality enablement best practices. I enjoy
    agile methodologies in software development and testing. I'm interested in
    distributed systems architecture and functional programming

  h3 Languages

  ul
    li English (fluent)
    li Spanish (fluent)
    li Ukrainian (native)
    li Russian (native)

  h3 Employment

  h4 Global Solutions Architect
  p Feb 2016 - current
  a(href="http://www.bbva.com/" target="_blank") BBVA Bank, Madrid
  p The best digital bank of the 21st century

  p Role and responsibilities
  ul
    li Software projet management and coordination (Scrum Master)
    li Global solutions software architecture design (web and mobile fronends, REST and EDA backends)
    li Software systems quality enablement (TDD, BDD, Continuous Integration, Continuous Delivery)

  h4 Senior Software Engineer
  p Apr 2009 – Jan 2016
  a(href="http://www.amadeus.com/" target="_blank") Amadeus IT Group, Madrid
  p World's leading IT provider for the global travel and tourism industry

  p Role and responsibilities

  ul
   li Development team coordination (Scrum Master)
   li Software architecture design (SPA frontends, REST and SOAP web services)
   li Software system implementation and testing (OOP, FP, SQL)

  h3 Experience and interests

  ul
    li Agile methodologies (Scrum)
    li QE/QA (TDD/BDD, CI/CD)
    li EDA and BPM (Java and Spring, RabbitMQ, Kafka)
    li SOA, REST web services (Java and Spring, Node.js)
    li SQL and noSQL databases (PostgreSQL, MongoDB)
    li Distibuted systems (Erlang and Elixir)
    li HTML5 SPA (AngularJS and ReactJS)

  h3 Education

  h4 Master of Business Administration, MBA
  p Sep 2012 – Jun 2015
  a(href="http://www.eae.es/") Escuela de Administración de Empresas, EAE, Madrid
  h4 Master of Science with honors in Computer Systems and Networking, MSc
  p Sep 2007 – Jun 2008
  a(href="http://nung.edu.ua/") National Technical University of Oil and Gas, Ukraine
  h4 Bachelor of Science with honors in Computer Science, BSc
  p Sep 2003 – Jun 2007
  a(href="http://nung.edu.ua/") National Technical University of Oil and Gas, Ukraine