extends base

include mixins

block main
  .about
    h2 Volodymyr Prokopyuk

    img(src="img/volodymyr.jpg" alt="Volodymyr Prokopyuk")

    h2 Software Architect | Scrum Master

    ul.details
      li: a(href="mailto:volodymyrprokopyuk@gmail.com") volodymyrprokopyuk@gmail.com
      li +(34) 663 564 178

    p.
      I'm a Software Architect with demonstrated experience in Software
      Architecture Design (SOA, EDA, BPM, SPA) and Software Quality Enablement
      best practices (TDD/BDD, CI/CD). I enjoy Agile Methodologies,
      communicating and working with people. I'm interested in Distributed
      Systems Architectures and Functional Programming.

    h2 Languages

    ul
      li English (fluent)
      li Spanish (fluent)
      li Ukrainian (native)
      li Russian (native)

    h2 Employment

    h3 Global Solutions Architect
    ul.details
      li Feb 2016 - current
      li <a href="http://www.bbva.com/" target="_blank">BBVA Bank</a>, Madrid
      li The best digital bank of the 21st century

    .role
      p Role and responsibilities:
      ul
        li.
          Software projects management and coordination (Scrum Master)
        li.
          Global solutions software architecture design (web and mobile
          frontends, REST and EDA backends)
        li.
          Software systems quality enablement (TDD/BDD, CI/CD)

    h3 Senior Software Engineer

    ul.details
      li Apr 2009 – Jan 2016
      li <a href="http://www.amadeus.com/" target="_blank">Amadeus IT Group</a>, Madrid
      li World's leading IT provider for the global travel and tourism industry

    .role
      p Role and responsibilities:
      ul
       li.
         Development team coordination (Scrum Master)
       li.
         Software architecture design (SPA frontends, REST and SOAP web
         services)
       li.
         Software system implementation and testing (OOP, FP, SQL)

    h2 Experience and interests

    ul
      li Agile Methodologies (Scrum, Kanban)
      li Quality Enablement (TDD/BDD, CI/CD)
      li EDA and BPM (Java Spring, RabbitMQ, Kafka)
      li SOA, REST web services (Java Spring, Node.js)
      li SQL and noSQL databases (PostgreSQL, MongoDB)
      li Distributed systems (Erlang/OTP, Elixir)
      li HTML5 SPA (AngularJS, ReactJS)

    h2 Education

    h3 Master of Business Administration, MBA

    ul.details
      li Sep 2012 – Jun 2015
      li <a href="http://www.eae.es/">Escuela de Administración de Empresas, EAE</a>, Madrid

    h3 Master of Science with honors in Computer Systems and Networking, MSc

    ul.details
      li Sep 2007 – Jun 2008
      li <a href="http://nung.edu.ua/">National Technical University of Oil and Gas</a>, Ukraine

    h3 Bachelor of Science with honors in Computer Science, BSc

    ul.details
      li Sep 2003 – Jun 2007
      li <a href="http://nung.edu.ua/">National Technical University of Oil and Gas</a>, Ukraine